<IfModule mod_rewrite.c>

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://kittyfursbags.co.uk/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https:/kittyfursbags.co.uk/$1 [L,R=301]

RewriteEngine On
RewriteBase /
RewriteRule ^/src/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /src/index.html [L]

</IfModule>