body {
  margin: 0;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-text {
  text-align: center;
  
}

.bottom-text {
  text-align: center;
}

.end-text {
  text-align: center;
  font-style: normal;
  font-weight: 700;
}

.main-image-div{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  height: 400px;
}

.choice-button {
  font-family: "Space Mono";
  font-weight: 700;
  margin-right: 40px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  background-color: rgb(235, 130, 235);
  box-shadow: 3px 3px 4px darkmagenta;  
}

.choice-button:hover{
  opacity: 1;
  position: relative;
  top: 2px;
  box-shadow: 1px 1px 4px darkmagenta;  
  
}

.choice-button-div {
  
  display: flex;
  justify-content: center;
  
}

.next-button-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.next-button {
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  background-color: rgb(235, 130, 235);
  box-shadow: -3px 3px 4px royalblue;  
}

.next-button:hover{
  opacity: 1;
  position: relative;
  top: 2px;
  box-shadow: -1px 1px 2px royalblue;  

  
}

.main-content-div{
  height: 500px;
  margin-top: 50px;
}

.buttons-div{
  margin-top: 80px;
}

