body {
  margin: 0;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-text {
  text-align: center;
  
}

.bottom-text {
  text-align: center;
}

.end-text {
  text-align: center;
  font-style: normal;
  font-weight: 700;
}

.main-image-div{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  height: 400px;
}

.choice-button {
  font-family: "Space Mono";
  font-weight: 700;
  margin-right: 40px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  background-color: rgb(235, 130, 235);
  box-shadow: 3px 3px 4px darkmagenta;  
}

.choice-button:hover{
  opacity: 1;
  position: relative;
  top: 2px;
  box-shadow: 1px 1px 4px darkmagenta;  
  
}

.choice-button-div {
  
  display: flex;
  justify-content: center;
  
}

.next-button-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.next-button {
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  background-color: rgb(235, 130, 235);
  box-shadow: -3px 3px 4px royalblue;  
}

.next-button:hover{
  opacity: 1;
  position: relative;
  top: 2px;
  box-shadow: -1px 1px 2px royalblue;  

  
}

.back-button {
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 10px;
  opacity: 0.7;
  background-color: royalblue;
  box-shadow: -3px 3px 4px rgb(106, 133, 216);  
}

.back-button:hover{
  opacity: 1;
  position: relative;
  top: 2px;
  box-shadow: -1px 1px 2px rgb(235, 130, 235);  

  
}


.back-button-test {
  color: royalblue;
  background-color: white;
  border: none;
  opacity: 0.7;
}

.back-button-test:hover {
  color: royalblue;
  background-color: white;
  border: none;
  opacity: 1;
}

.main-content-div{
  height: 500px;
  margin-top: 50px;
}

.buttons-div{
  margin-top: 80px;
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {

  .main-content-div {
    text-align: center;
  }
  .main-image{
    max-width: 750px;
  }

  .main-image-div{
    padding-top:  20px;
    padding-bottom: 20px;
  }

  .buttons-div {
    margin-left: 40px;
    margin-top: 50px;
  }

  .next-button-div {
    margin-top: 15px;
  }

  .start-again{
    margin-top: 10px;
  }

  .top-text {
    max-width: 750px;
    margin: 0 auto;
  }

}

/* Media Queries: Phone Portrait */
@media screen and (max-width: 450px) {
  .main-content-div {
    text-align: center;
  }
  .main-image{
    max-width: 400px;
  }

  .main-image-div{
    padding-top:  20px;
    padding-bottom: 20px;
  }

  .buttons-div {
    margin-left: 40px;
    margin-top: 50px;
  }

  .next-button-div {
    margin-top: 15px;
  }

  .start-again{
    margin-top: 10px;
    margin-left: 0px;
  }

  .top-text {
    max-width: 395px;
  }

}

/* Media Queries: Small Phone Portrait */
@media screen and (max-width: 375px) {
  .all-content {
    height: 200px;
  }

  .main-content-div {
    text-align: center;
    max-height: 400px;
  }
  .main-image{
    max-width: 340px;
  }

  .main-image-div{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .buttons-div {
    margin-left: 10px;
    margin-top: 40px;
    padding-top: 65px;
  }

  .next-button-div {
    margin-top: 15px;
  }

  .start-again{
    margin-top: 10px;
  }

  .top-text {
    max-width: 350px;
    margin: 0 auto;
  }
}