body {
  margin: 0;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-text {
  text-align: center;
  margin-top: 50px;
  
}

.bottom-text {
  text-align: center;
}

.end-text {
  text-align: center;
  font-style: normal;
  font-weight: 700;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.choice-button {
  font-family: "Space Mono";
  font-weight: 700;
  margin-right: 10px;
  
}

.choice-button-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  
}

.next-button-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.next-button {
  font-weight: 700;
  margin-right: 10px;
}